
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    font-family: "Poppins", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
        font-weight: 500;
        font-style: normal;
}
body{   
   background-color: #010718;

}
.container{
    
    font-family: "Merriweather Sans", sans-serif;
    left: -10%;
    width: 70%;
    height: 100vh;
    background-color:aliceblue;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    position: relative;
    margin-top: 10%;
    

}



   
        
.section1{
    z-index: 2;
    color: #808080;
    text-decoration: underline;
    position: relative;
    text-align: center;
    font-size: 20px;
    font-family: "Merriweather Sans", sans-serif;
   
    
}
.section2{
    z-index: 2;
    color: black;
    padding-top: 20px;
    position: relative;
    left: 0px;
    font-size: 10px;
    background-color:  #FBFBFD;
    font-family: "Merriweather Sans", sans-serif;
margin-top: 20px;
border-radius: 20px;
}


.section-part{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.link{
    font-size: 25px;
}
.innerpara{
    font-size: 25px;
}
.head-title{
    font-size: 30px;
    text-decoration: underline;
    padding-bottom: 5px;
    color: #808080;
}

/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Stylish&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: all 0.4s ease;;
  
}


/* ===== Colours ===== */
:root{
  --body-color: white;
  --nav-color: #02055A;
  --side-nav: #010718;
  --text-color: #FFF;
  --search-bar: #F2F2F2;
  --search-text: #010718;
  
}

body{
  height: 100vh;
  background-color: var(--body-color);
  
}

body.dark{
  --body-color: black;
  --nav-color: #242526;
  --side-nav: #242526;
  --text-color: #CCC;
  --search-bar: #242526;
  

}

nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
}

body.dark nav{
  border: 1px solid #393838;

}

nav .nav-bar{
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

nav .nav-bar .logo a{
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}

.menu .logo-toggle{
  display: none;
}

.nav-bar .nav-links{
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li{
  margin: 0 5px;
  list-style: none;
}

.nav-links li a{
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}

.nav-links li a::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before{
  opacity: 1;
}

.nav-bar .darkLight-searchBox{
  display: flex;
  align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.dark-light i,
.searchToggle i{
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark-light i.sun{
  opacity: 0;
  pointer-events: none;
}

.dark-light.active i.sun{
  opacity: 1;
  pointer-events: auto;
}

.dark-light.active i.moon{
  opacity: 0;
  pointer-events: none;
}

.searchToggle i.cancel{
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active i.cancel{
  opacity: 1;
  pointer-events: auto;
}

.searchToggle.active i.search{
  opacity: 0;
  pointer-events: none;
}

.searchBox{
  position: relative;
}

.searchBox .search-field{
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: var(--nav-color);
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field{
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}

.search-field::before{
  content: '';
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: var(--nav-color);
  transform: rotate(-45deg);
  z-index: -1;
}

.search-field input{
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--search-text);
  background-color: var(--search-bar);
}

body.dark .search-field input{
  color: var(--text-color);
}

.search-field i{
  position: absolute;
  color: var(--nav-color);
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

body.dark .search-field i{
  color: var(--text-color);
}

@media (max-width: 790px) {
  nav .nav-bar .sidebarOpen{
      display: block;
  }

  .menu{
      position: fixed;
      height: 100%;
      width: 320px;
      left: -100%;
      top: 0;
      padding: 20px;
      background-color: var(--side-nav);
      z-index: 100;
      transition: all 0.4s ease;
  }

  nav.active .menu{
      left: -0%;
  }

  nav.active .nav-bar .navLogo a{
      opacity: 0;
      transition: all 0.3s ease;
  }

  .menu .logo-toggle{
      display: block;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .logo-toggle .siderbarClose{
      color: var(--text-color);
      font-size: 24px;
      cursor: pointer;
  }

  .nav-bar .nav-links{
      flex-direction: column;
      padding-top: 30px;
  }

  .nav-links li a{
      display: block;
      margin-top: 20px;
  }
}

/*Footer*/



footer{
  position: relative;
  top: 600%;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;

  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;

}
.socials a i{
  font-size: 1.1rem;
  width: 20px;


  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px;
padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color:#44bae8;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
float: right;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}
}


.logout-btn form {
  display: inline-block;
  margin-top: 10px;
}

.logout-btn button {
  padding: 10px 20px;
  background-color: #c82333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.logout-btn button:hover {
  background-color: #393838;
}