<html>
<head>
  <title>12th Competitive Examinations</title>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='12th.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <nav>
      <div class="nav-bar">
          <i class='bx bx-menu sidebarOpen' ></i>
          <span class="logo navLogo"><a href="#">Career Quest</a></span>
          <div class="menu">
              <div class="logo-toggle">
                  <span class="logo"><a href="#">Career Quest</a></span>
                  <i class='bx bx-x siderbarClose'></i>
              </div>
              <ul class="nav-links">
                  <li><a href="/">Home</a></li>
                  <li><a href="/#about">About</a></li>
                  <li><a href="/#services">Services</a></li>
                  <li><a href="/#faq">FAQ</a></li>
                  <li><a href="/Contact">Contact</a></li>
              </ul>
          </div>
          <div class="darkLight-searchBox " >
              <div class="dark-light">
                  <i class='bx bx-moon moon'></i>
                  <i class='bx bx-sun sun'></i>
              </div>
          </div>
          {% if current_user.is_authenticated %}
<div class="logout-btn">
  <form action="{{ url_for('logout') }}" method="post">
    <button type="submit">
      <i class="bx bx-user"></i> Logout
    </button>
  </form>
</div>
{% endif %}
      </div>
  </nav>
  <div class="container">
       <div class="header">
           <img src="{{ url_for('static', filename='images/2.avif') }}" width="1070x245">
       </div>
       <div class="section1">
           <h1>For 12th Students</h1>
       </div>
      
      <div class="section2" data-aos-duration="1500"  data-aos="fade-left">
          <h1 class="head-title">Staff Selection Commission</h1><br>
          <h1 class="title">Staff Selection Commission Combined Higher Secondary Level (SSC CHSL)
  
              Staff Selection Commission conducts a competitive Combined Higher Secondary Level examination for various posts in the different offices, departments, and ministries of the Government of India. The posts that the candidates can get after clearing these exams are:<br><br>
              <li class="para1">
              Data Entry Operator (DEO)</li>
              <li>Sorting Assistant (SA) / Postal Assistant (PA)</li>
              <li> Secretariat Assistant (JSA) /  Lower Divisional Clerk (LDC)
              </li>    
          </h1><br>
           <h4 class="section-part">
              Eligibility:
  
              
      The age limit varies from one post to the other
      In general, class 10th /matric pass with min 45% mks in aggregate and min 33% in each subject.
  
          </h4>
          <p class="link">Official Website : <a href="https://ssc.nic.in/">SSC</a></p>
        
      </div>
      <div class="section2" data-aos-duration="1500"  data-aos="fade-left">
          <h1 class="head-title">Railway Recruitment</h1><br>
          <h1 class="title">Railway Recruitment Board Exams (RRB Examination)
  
              RRB conducts Computer Based Test (CBT) for several posts. The posts conducted for these exams are:
   <br><br>
   <li class="para1">
      Junior Clerk-cum-Typist</li>
  <li>Accounts Clerk-cum-Typist</li>
  <li> Trains Clerk
  </li>    
  </h1><br>
  <h4 class="section-part">
      Eligibility:
  
      
  The age limit varies from one post to the other
  In general, the limit of the age of every candidate is from 18 years to 30 years
  
  </h4>
  <p class="link">Official Website : <a href="https://indianrailways.gov.in">RRB</a></p>
 
  </div>
      
      
      <div class="section2" data-aos-duration="1500"  data-aos="fade-left">
          <h1 class="head-title">Railway Recruitment Board (RRB) - Group D</h1><br>
          <h1 class="title"> Brief Detail: RRB Group D exam is for various posts like Track Maintainer, Helper, and Assistant in Indian Railways.  <br><br>
             
          </h1><br>
           <h4 class="section-part">
              
  
              Eligibility: 10+2 or equivalent
          </h4><br>
          <p class="link">Official Website : <a href="https://www.rrcb.gov.in/" > RRB-Group D</a></p>
          
      </div>
      
      <div class="section2" data-aos-duration="1500"  data-aos="fade-left">
          <h1 class="head-title">Naval Academy</h1><br>
          <h1 class="title"> Naval Academy and National Defense Academy Examinations (NA & NDA Examination)
           
          </h1><br>
          <h4 class="section-part">
              Eligibility:
              The limit of age is from 17 years to 20 years
  Candidates can appear for these government competitive exams after 12th from any stream
   
  
          
     
          </h4>
          <p class="link">Official Website : <a href="https://indiannavy.nic.in/">Naval Academy</a></p>
      </div>
      <div class="section2" data-aos-duration="1500"  data-aos="fade-left">
          <h1 class="head-title">Indian Army</h1><br>
          <h1 class="title"> The Indian Army conducts the written examination for admission into a one-year basic military training in the Officer’s Training Academy Gaya and for a four-year professional training in CME. The candidates will be assistants with the army after their five years of preparation.
          </h1><br>
             
          <h4 class="section-part">
              Eligibility:
              The limit of age is from 17 years to 20 years
  
  
          </h4>
          <p class="link">Official Website : <a href="https://joinindianarmy.nic.in">Indian Army</a></p>
          
  </div>
          
      <div class="section2" data-aos-duration="1500"  data-aos="fade-left">
          <h1 class="head-title">Indian Navy Sailor</h1><br>
          <h1 class="title"> The Indian Navy selects candidates when they complete government competitive exams after 12th successfully as sailors. The posts that they get after clearing these exams are:
  
              Seaman after training
              Artificer apprentice in various branches.
          </h1><br>
           <h4 class="section-part">
              Eligibility:
                      The limit of age is from 17 years to 20 years
         
          </h4>
          <p class="link">Official Website : <a href="https://indiannavy.nic.in/">Indian Navy Sailor</a></p>
         
               
          </div>
      <div class="section2" data-aos-duration="1500"  data-aos="fade-left">
          <h1 class="head-title">Central Industrial Security Force (CISF) Constable/Tradesman Recruitment</h1><br>
          <h1 class="title"> Brief Detail: CISF recruits Constable/Tradesman for various trades. <br><br>
             
          </h1>
           <h4 class="section-part">
              Eligibility:
      The limit of age is from 18 years to 28 years
      There is relaxation of age limit as well for candidates belonging to various categories
          </h4>
          <p class="link">Official Website : <a href="https://awbi.in/rrb-alp-recruitment-2024">CISF</a></p>
          
      </div>
      
          <div class="section2" data-aos-duration="1500"  data-aos="fade-left">
              <h1 class="head-title">Railway Group</h1><br>
              <h1 class="title"> The RRB conducts this exam to recruit candidates for various posts like Track Maintainer Grade-IV and Assistant/Helper Pointsman in various departments of Indian Railways. Candidates can go through RRB Group D notification for the latest vacancies and updates.
                
              </h1><br>
               <h4 class="section-part">
                  Eligibility:
                  The limit of age is from 18 years to 33 years
              </h4>
              <p class="link">Official Website : <a href="https://indianrailways.gov.in">Railway Group</a></p>
          </div>
          <div class="section2" data-aos-duration="1500"  data-aos="fade-left">
              <h1 class="head-title">Railway Constables</h1><br>
              <h1 class="title">  Brief Detail: The Railway Constables maintain the right order and law in the railway premises. Candidates who have applied for the government competitive exams after 12th can apply for this post. <br><br>
                 
              </h1>
               <h4 class="section-part" data-aos-duration="1500"  data-aos="fade-left">
                  Eligibility:
                  The limit of age is from 18 years to 25 years</h4><br>
                  <p class="link">Official Website : <a href="https://indianrailways.gov.in">Railway Constables</a></p>
                  
                 </h4>
  
          </div>
          <div class="section2" data-aos-duration="1500"  data-aos="fade-left">
            <h1 class="head-title">National Defence Academy (NDA) Examination</h1><br>
            <h1 class="title">  Brief Detail: The NDA Examination is conducted by the Union Public Service Commission (UPSC) for admission to the Army, Navy, and Air Force wings of the National Defence Academy (NDA) and Indian Naval Academy (INA). Successful candidates are admitted to the respective academies for training to become officers in the Indian Armed Forces. <br><br>
               
            </h1>
             <h4 class="section-part" data-aos-duration="1500"  data-aos="fade-left">
                Eligibility:
                Age Limit: Candidates must be between 16.5 to 19.5 years of age. Age relaxation is applicable for candidates belonging to reserved categories as per government norms.
Educational Qualification: Candidates should have completed their 12th standard (Intermediate) from a recognized board or institution.</h4><br>
                <p class="link">Official Website : <a href="https://upsc.gov.in/">NDA</a></p>
                
               </h4>

        </div>
  </div>
  <footer>
    <div class="footer-content">
        <h3>CAREER QUEST</h3>
        <p>Career Quest is an AI-driven project designed to provide personalized career guidance and support. Leveraging machine learning algorithms, it offers tailored advice to help individuals navigate their professional paths effectively. Our goal is to empower users to make informed career decisions and achieve success in today's competitive job market.</p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy; <a href="#">Career Quest</a>  </p>
                <div class="footer-menu">
                  <ul class="f-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/#about">About</a></li>
                    <li><a href="/Contact">Contact</a></li>
                    <li><a href=""></a></li>
                  </ul>
                </div>
    </div>
  
  </footer>
  <script type="text/javascript" src="{{ url_for('static', filename='pages.js') }}"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
   </body>
  </head>
  </html>